<article class="c-mealplan" onclick="location.href = '/meal-plan-overview.html'">

   <div class="c-mealplan__inner">

      <header class="c-mealplan__header">

         <div class="c-mealplan__user">
            <a href="/profile.html" class="c-mealplan__avatar">
               <img src="/assets/images/demo/profile-pic.jpg" class="c-mealplan__avatar-image" />
            </a>
            <a href="/profile.html" class="c-mealplan__handle u-text--white u-link s2">@nimaidelgado</a>
         </div>

         <div class="c-mealplan__ribbon">
            <div class="o-ribbon">10 days</div>
         </div>

      </header>   

      <footer class="c-mealplan__footer">
         <a href="/meal-plan-overview.html" class="c-mealplan__title t4 u-text--white u-link u-text--bold u-small-space-below">Tropical whole food meal plan</a>
         <a href="/meal-plan-overview.html" class="c-mealplan__button o-btn o-btn--secondary o-btn--small d-block">Visit meal plan</a>
      </footer>

   </div>

   <div class="c-mealplan__cover">
      <img src="/assets/images/demo/meal-plan-cover.jpg" class="c-mealplan__cover-image" />
   </div>

</article>
