<div class="c-user" onclick="location.href = '#'">

   <div class="c-user__inner">

      <footer class="c-user__footer">
         <a href="#" class="c-mealplan__title t4 u-text--white u-link u-text--bold u-small-space-below">Yovana Mendoza</a>
         <a href="#" class="c-mealplan__button o-btn o-btn--secondary o-btn--small d-block">Visit profile</a>
      </footer>

   </div>

   <div class="c-user__cover">
      <img src="/assets/images/demo/yovana.jpg" class="c-user__cover-image" />
   </div>

</div>
