@font-face {
   font-family: 'Proxima Nova';
   src: url('../fonts/proxima-nova/regular.woff2') format('woff2'),
        url('../fonts/proxima-nova/regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Proxima Nova';
   src: url('../fonts/proxima-nova/bold.woff2') format('woff2'),
        url('../fonts/proxima-nova/bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/gilroy/regular.woff2') format('woff2'),
        url('../fonts/gilroy/regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/gilroy/bold.woff2') format('woff2'),
        url('../fonts/gilroy/bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
    font-family: 'Reklame script demo';
    src: url('../fonts/reklame-script-demo/regular.woff2') format('woff2'),
         url('../fonts/reklame-script-demo/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
