body {
   font-size: 16px;
   font-size: 100%;
   font-family: Proxima Nova, sans-serif;
   -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
   color: #4b3e63;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-bottom: 0.625rem;
   font-size: 1.125rem;
   font-family: Gilroy, sans-serif;
   font-weight: bold;
}

.o-content h1,
.o-content h2,
.o-content h3,
.o-content h4,
.o-content h5,
.o-content h6 {
   margin-bottom: 1.5rem;
}

p {
   line-height: 1.5em;
}

.o-content p,
.o-content ul,
.o-content ol,
.o-content img,
.o-content iframe {
   margin-bottom: 1.875rem;
}

.o-content ul,
.o-content ol {
   padding-left: 1.125em;
}

.o-content ul {
   list-style: circle;
}

.o-content ol {
   list-style: decimal;
}

.o-content ul li,
.o-content ol li {
   margin-bottom: 0.5em;
}

.t1,
.o-content h1 {
   font-size: 2.3125rem;
}

.t2,
.o-content h2 {
   font-size: 1.875rem;
}

.t3,
.o-content h3,
.o-content h4,
.o-content h5,
.o-content h6 {
   font-size: 1.5rem;
}

.t4 {
   font-size: 1.125rem;
}

.s1 {
   font-size: 0.625em;
}

.s2 {
   font-size: 0.875em;
}

.s3 {
   font-size: 0.9375em;
}

/* Medium devices */
@media (min-width: 768px) {

   .t1 {
      font-size: 3.125rem;
   }

   .t2 {
      font-size: 2.3125rem;
   }

   .t3 {
      font-size: 1.5rem;
   }

   .t4 {
      font-size: 1.125rem;
   }

}

/* CONTENT */

.o-content img {
   width: 100%;
}

/* VIDEO CONTAINER */

.o-video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.o-video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.o-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* TEXT UTILS */

.u-text--center {
   text-align: center;
}

.u-text--bold {
   font-weight: bold;
}

.u-text--underlined {
   text-decoration: underline;
}

.u-text--shadow {
   text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.u-text--white {
   color: #fff;
}

.u-text--purple {
   color: #4b3e63;
}

.u-text--light-purple {
   color: #5952c1;
}

.u-text--pink {
   color: #f59ab5;
}

.u-text--dark-pink {
   color: #f05478;
}

.u-text--lightgrey {
   color: rgba(75, 62, 99, 0.6);
}

.u-text--link {
   color: #f05478;
}

.u-link:hover,
.u-text--link:hover {
   text-decoration: underline;
}

/* HEADINGS */

.o-underlined-heading {
   padding-bottom: 0.5em;
   display: block;
   border-bottom: 3px solid rgba(89,82,193,0.3);
   font-size: 1.25em;
   font-weight: 400;
}

/* BACKGROUND UTILS */

.u-background--green {
   background-color: #29b49c;
}

.u-background--purple {
   background-color: #4b3e63;
}

.u-background--light-purple {
   background-color: #5952c1;
}

.u-background--pink {
   background-color: #f59ab5;
}

.u-background--yellow {
   background-color: #f8c444;
}

/* SPACING UTILS */

.u-space-around,
.u-space-around--sm {
   margin: 1.25rem;
}

.u-small-space-around,
.u-small-space-around--sm {
   margin: 0.625rem;
}

.u-large-space-around,
.u-large-space-around--sm {
   margin: 1.875rem;
}

.u-space-above,
.u-space-above--sm {
   margin-top: 1.25rem;
}

.u-small-space-above,
.u-small-space-above--sm {
   margin-top: 0.625rem;
}

.u-large-space-above,
.u-large-space-above--sm {
   margin-top: 1.875rem;
}

.u-space-below,
.u-space-below--sm {
   margin-bottom: 1.25rem;
}

.u-small-space-below,
.u-small-space-below--sm {
   margin-bottom: 0.625rem;
}

.u-large-space-below,
.u-large-space-below--sm {
   margin-bottom: 1.875rem;
}

.u-extra-large-space-below,
.u-extra-large-space-below--sm {
   margin-bottom: 3rem;
}

.u-space-right,
.u-space-right--sm {
   margin-right: 1.25rem;
}

.u-small-space-right,
.u-small-space-right--sm {
   margin-right: 0.625rem;
}

.u-large-space-right,
.u-large-space-right--sm {
   margin-right: 1.875rem;
}

.u-space-left,
.u-space-left--sm {
   margin-left: 1.25rem;
}

.u-small-space-left,
.u-small-space-left--sm {
   margin-left: 0.625rem;
}

.u-large-space-left,
.u-large-space-left--sm {
   margin-left: 1.875rem;
}

.u-no-space-below {
   margin-bottom: 0 !important;
}

/* Medium devices */
@media (min-width: 768px) {

   .u-space-below--sm,
   .u-small-space-below--sm,
   .u-large-space-below--sm {
      margin-bottom: 0;
   }

   .u-space-below--sm,
   .u-small-space-below--sm,
   .u-large-space-below--sm,
   .u-extra-large-space-below--sm {
      margin: 0;
   }

   .u-space-around--md {
      margin: 1.25em;
   }

   .u-large-space-around--md {
      margin: 1.875em;
   }

   .u-space-below--md {
      margin-bottom: 1.25em;
   }

   .u-large-space-below--md {
      margin-bottom: 1.875em;
   }

   .u-space-right--md {
      margin-right: 1.25em;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .u-no-space-below--lg {
      margin-bottom: 0;
   }

   .u-space-around--lg {
      margin: 1.25em;
   }

   .u-large-space-around--lg {
      margin: 1.875em;
   }

   .u-space-below--lg {
      margin-bottom: 1.25em;
   }

   .u-small-space-below--lg {
      margin-bottom: 0.625em;
   }

   .u-large-space-below--lg {
      margin-bottom: 1.875em;
   }

   .u-inner-overlap--left {
      margin-left: -6.25em;
   }

   .u-inner-overlap--right {
      margin-right: -6.25em;
   }

}

/* POSITION UTILS */

.u-sticky {
   position: sticky;
   top: 1.25em;
}

/* BORDER UTILS */

.u-border-bottom {
   padding-bottom: 1.875em;
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

.u-between-borders {
   padding: 1.25em 0;
   border-top: 1px solid rgba(89,82,193, 0.25);
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

/* GENERAL UTILS */

.u-box-shadow {
   -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.4);
   -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.4);
   box-shadow: 0 1px 8px rgba(0,0,0,0.4);
}

/* MEDIA */

.o-image {
   width: 100%;
}

/* IMAGE CONTAINER */

.o-responsive-image-container {
   width: 100%;
   position: relative;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   overflow: hidden;
}

.o-responsive-image-container::after {
   content: "";
   display: block;
   padding-bottom: 100%;
}

.o-responsive-image-container--rectangle::after {
   padding-bottom: 75%;
}

.o-responsive-image-container--low-rectangle::after {
   padding-bottom: 50%;
}

.o-responsive-image-container img {
   width: 100%;
   height: 100%;
   display: block;
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   object-fit: cover;
}

/* BUTTONS */

.o-btn {
   padding: 1.4em 1.75em;
   display: inline-block;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   border: 1px solid transparent;
   font-size: 0.9375em;
   line-height: 0;
   text-align: center;
   color: #fff;
   cursor: pointer;
   transition: 0.1s;
}

.o-btn--block {
   width: 100%;
   display: block;
}

.o-btn:hover {
   text-decoration: underline;
}

.o-btn--primary {
   background: #f05478;
   border: 1px solid #f05478;
}

.o-btn--secondary {
   background-color: #5952c1;
}

.o-btn--transparent {
   border: 1px solid #fff;
   background: transparent;
}

.o-btn--transparent:hover {
   background-color: rgba(255,255,255,0.05);
}

.o-btn--transparent-dark {
   border: 1px solid #5952c1;
   background: transparent;
   color: #5952c1;
}

.o-btn--fat {
   font-size: 1.125em;
   font-weight: bold;
}

.o-btn--video {
   display: flex;
   padding-left: 3em;
   align-items: center;
   position: relative;
   border: 1px solid #fff;
   background: transparent;
}

.o-btn--video::before {
   content: "\f144";
   margin-right: 0.5em;
   position: absolute;
   left: 0.9375em;
   font-size: 1.25em;
   font-family: "Font Awesome 5 Free";
}

/* PROMO */

.o-promo {
   padding: 0.3125em 0.5em;
   display: inline-block;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   font-size: 0.75em;
   background-color: #29b49c;
   color: #fff;
}

/* CALENDAR */

.c-calendar__period {
   display: flex;
   align-items: center;
}

.c-calendar__period-controls {
   margin-left: 0.625em;
   display: flex;
}

.c-calendar__period-control {
   margin: 0 0.25em;
   cursor: pointer;
}

.c-calendar__period-control::after {
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
   font-size: 1em;
}

.c-calendar__period-control--prev::after {
   content: "\f053";
}

.c-calendar__period-control--next::after {
   content: "\f054";
}

.c-calendar__days {
   display: flex;
   flex-wrap: wrap;
}

.c-calendar__day {
   width: 20%;
   margin-bottom: 0.9375em;
   padding: 0.625em 0;
   display: flex;
   position: relative;
   flex-direction: column;
   text-align: center;
}

.c-calendar__day.in-selection {
   background-color: #edebef;
}

.c-calendar__day.is-first-of-selection {
   -webkit-border-top-left-radius: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-bottomleft: 8px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
}

.c-calendar__day.is-last-of-selection {
   -webkit-border-top-right-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
   -moz-border-radius-topright: 8px;
   -moz-border-radius-bottomright: 8px;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
}

.c-calendar__day.is-current {
   background-color: #f64e74;
   color: #fff;
}

.c-calendar__day-short {
   margin-bottom: 0.3125em;
   font-size: 0.75em;
}

.c-calendar__day-number {
   font-size: 1.25em;
   font-weight: bold;
}

.c-calendar--light .c-calendar__period {
   color: #fff;
}

.c-calendar--light .c-calendar__day {
   color: #fff;
}

.c-calendar--light .c-calendar__day.in-selection {
   background-color: rgba(255,255,255,0.2);
}

.c-calendar--light .c-calendar__day.is-current {
   background-color: rgba(255,255,255,0.4);
   color: #4b3e63;
}

.c-calendar--small .c-calendar__day-number {
   font-size: 1em;
}


/* Medium devices */
@media (min-width: 768px) {

   .c-calendar__day {
      width: 10%;
   }

}

/* PRICE LABEL */

.o-price-label {
   padding: 0.625em 1em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   font-weight: bold;
   text-align: center;
   color: #fff;
   background-color: rgba(0,0,0,0.5);
}

/* FORM ELEMENTS */

.o-input,
.o-dropdown {
   width: 100%;
   padding: 0.75em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid rgba(90,78,193,0.4);
   font-size: 1em;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.o-input:focus,
.o-dropdown:focus {
   -moz-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
   -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
   box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
   background-color: #fff;
   border-color: #80bdff;
   outline: 0;
   color: #495057;
}

.o-input--large {
   padding: 0.875em 1em;
   font-size: 0.9375em;
}

.o-input--bottom {
   border-top: none;
   border-right: none;
   border-left: none;
}

.o-input--bottom:focus {
   border-bottom: 1px solid rgba(75, 62, 99, 0.9);
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.o-input--regular {
   width: 100%;
}

.o-checkbox,
.o-radio {
   width: 1em;
   height: 1em;
   position: relative;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: 1px solid rgba(188,184,232,1);
   -webkit-appearance: none;
   appearance: none;
}

.o-radio:focus,
.o-checkbox:focus {
   outline: none;
}

.o-radio::after,
.o-checkbox::after {
   content: "";
   display: none;
   position: absolute;
   top: 2px; right: 2px; bottom: 2px; left: 2px;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
   background-color: #5952c1;
}

.o-radio:checked::after,
.o-radio:checked:active::after,
.o-checkbox:checked::after,
.o-checkbox:checked:active::after {
   display: block;
}

.o-dropdown {
   padding: 0.625em 2.5em 0.625em 0.75em;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAl0lEQVRoge3RMQrCQBBG4adXUPCYYmW08cypDWiT6USyMZPdyPtgui3ez4IkSZIkaRsuQA+8kq4HzlnxJ2BIjI8bgOPUqH3hiF3h++bcyf+BW/aIa2L8Izs+c8Rq8WHJEavHhyVGVIsPv4yoHh/mjGgmPpSMaC4+TBnRbHz4NqL5+PBpxGbiQwc8x+sqt8x2GE+SJEn6Q2+A4tm8r9W5iQAAAABJRU5ErkJggg==);
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAl0lEQVRoge3RMQrCQBBG4adXUPCYYmW08cypDWiT6USyMZPdyPtgui3ez4IkSZIkaRsuQA+8kq4HzlnxJ2BIjI8bgOPUqH3hiF3h++bcyf+BW/aIa2L8Izs+c8Rq8WHJEavHhyVGVIsPv4yoHh/mjGgmPpSMaC4+TBnRbHz4NqL5+PBpxGbiQwc8x+sqt8x2GE+SJEn6Q2+A4tm8r9W5iQAAAABJRU5ErkJggg==);
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAl0lEQVRoge3RMQrCQBBG4adXUPCYYmW08cypDWiT6USyMZPdyPtgui3ez4IkSZIkaRsuQA+8kq4HzlnxJ2BIjI8bgOPUqH3hiF3h++bcyf+BW/aIa2L8Izs+c8Rq8WHJEavHhyVGVIsPv4yoHh/mjGgmPpSMaC4+TBnRbHz4NqL5+PBpxGbiQwc8x+sqt8x2GE+SJEn6Q2+A4tm8r9W5iQAAAABJRU5ErkJggg==);
   background-repeat: no-repeat,repeat;
   background-position: right .875em top 50%,0 0;
   background-size: 1em auto,100%;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.o-dropdown--inline {
   width: auto;
   display: inline-flex;
}

.o-form-group {
   margin-bottom: 1.5em;
}

.o-form-group--section {
   padding-bottom: 1.25em;
   border-bottom: 1px solid rgba(89,82,193, 0.15);
}

.o-form-label {
   margin-bottom: 0.5em;
   display: block;
   font-weight: bold;
}

.o-fieldset-heading {
   display: block;
}

.o-form-check {
   margin-bottom: 0.3125em;
   display: flex;
   align-items: center;
}

.o-form-check--inline {
   margin-right: 0.75em;
   margin-bottom: 0;
   display: inline-flex;
}

.o-form-check__input {
   margin-right: 0.5em;
}

.o-form-check__input {
   line-height: 0;
}

.o-req {
   color: red;
}

/* Medium devices */
@media (min-width: 768px) {

   .o-input--regular {
      width: 20em;
   }

}

/* RADIO OPTION */

.c-radio-option {
   display: flex;
   align-items: center;
}

.c-radio-option--inline {
   margin-right: 1.25em;
   display: inline-flex;
}

.c-radio-option__check {
   width: 2em;
   height: 2em;
   position: relative;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   border: 1px solid rgba(188,184,232,1);
   -webkit-appearance: none;
   appearance: none;
}

.c-radio-option__check:focus {
   outline: none;
}

.c-radio-option__check::after {
   content: "";
   display: none;
   position: absolute;
   top: 3px; right: 3px; bottom: 3px; left: 3px;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   background-color: #4b3e63;
}

.c-radio-option__check:hover::after {
   display: block;
   background-color: #4b3e63;
}

.c-radio-option__check:checked::after,
.c-radio-option__check:checked:active::after {
   display: block;
}

.c-radio-option__info {
   padding-left: 0.625em;
}

.c-radio-option__headline,
.c-radio-option__subline {
   display: flex;
}

.c-radio-option__headline {
   margin-bottom: 0.125em;
}

.c-radio-option__subline {
   color: rgba(75,62,99,0.6);
}

/* CHOICE */

.c-choice {
   width: 100%;
   padding: 0.75em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid rgba(90,78,193,0.4);
   cursor: pointer;
}

.c-choice--inline {
   width: auto;
   display: inline-block;
}

.c-choice:hover {
   border: 1px solid rgba(90,78,193,0.7);
}

.c-choice.is-chosen {
   border: 2px solid #5952c1;
}

.c-choice__radio {
   display: none;
}

/* SWITCHER */

.o-switcher,
.o-switcher::after {
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   border-radius: 30px;
}

.o-switcher {
   width: 3em;
   height: 1.5em;
   padding: 0.5em;
   position: relative;
   background-color: rgba(75,62,99,0.1);
   cursor: pointer;
}

.o-switcher::after {
   content: "";
   width: 1em;
   display: block;
   position: absolute;
   top: 0.275em; bottom: 0.275em;
   background-color: rgba(75,62,99,0.3);
}

.o-switcher:hover::after {
   background-color: rgba(75,62,99,0.7);
}

.o-switcher.is-off::after {
   left: 0.3em;
}

.o-switcher.is-on::after {
   right: 0.3em;
   background-color: #f05478;
}

/* LANGUAGE SWITCHER */

.c-language-switcher {
   width: auto;
   display: inline;
}

/* LOGO */

.c-logo {
   display: block;
}

.c-logo svg path {
   fill: #fff;
}

.c-header--light .c-header__logo svg path,
.c-logo--dark svg path {
   fill: #5a52c0;
}

/* NAV ARROWS */

.o-nav-arrow {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   border: none;
   background: #f05478;
   cursor: pointer;
   color: #fff;
}

.o-nav-arrow:focus {
   outline: none;
}

.o-nav-arrow--prev {
   margin-right: 0.25em;
}

.o-nav-arrow::after {
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
}

.o-nav-arrow--prev::after {
   content: "\f060";
}

.o-nav-arrow--next::after {
   content: "\f061";
}

/* HAMBURGER */

.c-hamburger {
   width: 2.875em;
   height: 2.875em;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   border-radius: 100%;
   border: none;
   cursor: pointer;
}

.c-hamburger:focus {
   outline: 0;
}

.c-header--light .c-hamburger,
.c-hamburger--dark {
   background-color: #5a52c0;
}

.c-hamburger::after {
   content: "\f0c9";
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
   font-size: 1.25em;
   color: #5a52c0;
}

.c-header--light .c-hamburger::after,
.c-hamburger--dark::after {
   color: #fff;
}

.c-hamburger.is-open::after {
   content: "\f00d";
}

/* DROPDOWN MENU */

.o-dropdown-toggler {
   font-size: 1.5em;
   cursor: pointer;
}

.c-dropdown-menu-container {
   position: relative;
}

.c-dropdown-menu {
   width: 16em;
   display: none;
   position: absolute;
   top: calc(100% + 1em);
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
   border-radius: 7px;
   border: 1px solid rgba(75,62,99,0.7);
   -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
   box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
   background-color: #fff;
   z-index: 10;
}

.c-dropdown-menu.is-open {
   display: block;
}

.c-dropdown-menu:after, .c-dropdown-menu:before {
   content: "";
   width: 0;
   height: 0;
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	position: absolute;
	pointer-events: none;
   z-index: 10;
}

.c-dropdown-menu:after {
	border-color: rgba(255,255,255,0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.c-dropdown-menu:before {
	border-color: rgba(0,0,3,0);
	border-bottom-color: rgba(75,62,99,0.7);
	border-width: 11px;
	margin-left: -11px;
}

.c-dropdown-menu--right {
   right: -0.625em;
}

.c-dropdown-menu--right:after, .c-dropdown-menu--right:before {
   left: calc(100% - 2em);
}

.c-dropdown-menu__item {
   padding: 0.875em 1.125em;
   display: block;
   border-bottom: 1px solid rgba(89,82,193,0.05);
   font-size: 1.25em;
   color: rgba(75,62,99,1);
}

.c-dropdown-menu__item:hover {
   background-color: rgba(89,82,193,0.04);
}

.c-dropdown-menu .c-dropdown-menu__item:last-child {
   border-bottom: none;
}

/* Large devices */
@media (min-width: 992px) {

   .c-dropdown-menu__item {
      font-size: 1em;
   }

}


/* NAV TABS */

.c-nav__tabs {
   display: flex;
   border-bottom: 1px solid rgba(89,82,193,0.25);
   overflow-x: auto;
}

.c-nav__tab {
   padding: 0.625em 0.75em;
   font-size: 1.125em;
   font-weight: bold;
   cursor: pointer;
}

.c-nav__tab:hover {
   border-bottom: 3px solid rgba(90,82,192,0.2);
}

.c-nav__tab.is-current {
   border-bottom: 3px solid #5952c1;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-nav__tabs {
      overflow-x: visible;
   }

   .c-nav__tab {
      padding: 0.625em 1.25em;
   }

}

/* TAB PANES */

.c-tab-pane {
   display: none;
}

.c-tab-pane.is-current {
   display: block;
}

.c-tab-pane__inner {
   padding: 1.875em 0;
}

/* SECTION */

.o-section {
   padding: 1.875em 0;
   position: relative;
}

.o-section--large-space {
   padding: 4em 0;
}

/* Medium devices */
@media (min-width: 768px) {

   .o-section {
      padding: 3em 0;
   }

   .o-section--large-space {
      padding: 6em 0;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .o-section--large-space-lg {
      padding: 6em 0;
   }

}

/* LAYOUT */

.o-layout {
   padding: 1.875em;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

.o-layout--spread {
   height: 100%;
   display: flex;
   align-items: center;
}

/* SIDEBAR */

/* Large devices */
@media (min-width: 992px) {

   .o-sidebar--left {
      margin-right: 1em;
      padding-right: 1.875em;
      border-right: 1px solid rgba(89,82,193, 0.25);
   }

   .o-sidebar--right {
      margin-left: 1em;
      padding-left: 1.875em;
      border-left: 1px solid rgba(89,82,193, 0.25);
   }

}


/* LISTS */

.o-list--circle {
   padding-left: 1.25em;
   list-style: circle;
}

.o-list__item {
   margin-bottom: 0.5em;
}

/* DESCRIPTION LIST */

.c-description-list__item {
   padding: 0.9375em 0;
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

.c-description-list__item > *:first-child {
   margin-bottom: 0.5em;
}

.c-description-list__label,
.c-description-list__value {
   display: block;
}

.c-description-list__label {
   font-weight: bold;
}

/* PRODUCT LIST */

.c-product-list__item {
   padding: 0.9375em 0;
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

.c-product-list__item-info {
   margin-bottom: 0.625em;
}

.c-product-list__item-type {
   margin-bottom: 0.3125em;
}

.c-product-list__item-type,
.c-product-list__item-title {
   display: block;
}

.c-product-list__item-title {
   font-weight: bold;
}

.c-product-list__item-button {
   width: 100%;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-product-list__item {
      display: flex;
      justify-content: space-between;
   }

   .c-product-list__item-info {
      margin-bottom: 0;
   }

   .c-product-list__item-button {
      width: auto;
   }

}

/* HERO */

.c-hero {
   padding: 6em 0 3em 0;
   background-color: #5a52c0;
}

.c-hero--splitted {
   background-image: radial-gradient(circle at 160% 50%, #f59ab5 60%, #5a52c0 0);
}

.c-hero--background-image {
   background-size: cover;
   background-position: center;
   background-blend-mode: multiply;
   background-color: rgba(0,0,0,0.3);
}

.c-hero__headline {
   margin-bottom: 1.25rem;
   font-size: 2.3125em;
}

.c-hero__headline--large {
   font-size: 2.875em;
}

.c-hero__subline {
   font-size: 1.125em;
   line-height: 1.35em;
}

.c-hero__button {
   display: block;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-hero {
      padding: 7em 0;
   }

   .c-hero--small {
      padding: 7em 0 3.125em 0;
   }

   .c-hero--small-bottom {
      padding: 7em 0 1.875em 0;
   }

   .c-hero--splitted {
      background-image: radial-gradient(circle at 120% 80%, #f59ab5 52%, #5a52c0 0);
   }

   .c-hero__headline {
      font-size: 3.125em;
   }

   .c-hero__headline--large {
      font-size: 3.5em;
   }

   .c-hero__subline {
      font-size: 1.25em;
   }

   .c-hero__button {
      margin-right: 0.25em;
      display: inline-block;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .c-hero {
      padding: 9em 0;
   }

   .c-hero--small {
      padding: 9em 0 5em 0;
   }

   .c-hero--small-bottom {
      padding: 12em 0 2.25em 0;
   }

   .c-hero--splitted {
      background-image: radial-gradient(circle at 100% 100%, #f59ab5 50%, #5a52c0 0);
   }

   .c-hero__headline--large {
      font-size: 4.1875em;
   }

}

/* JUMBOTRON */

.c-jumbotron {
   padding: 2.25em 1.875em;
   margin-left: -1.25em;
   margin-right: -1.25em;
}

.c-jumbotron__visual {
   position: relative;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   overflow: hidden;
}

.c-jumbotron__visual::after {
   content: "";
   display: block;
   padding-bottom: 60%;
}

.c-jumbotron__visual-image {
   width: 100%;
   height: 100%;
   position: absolute;
   object-fit: cover;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-jumbotron {
      margin-left: 0;
      margin-right: 0;
      padding: 2.5em;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .c-jumbotron-extended--green {
      padding-left: 0 !important;
      -moz-box-shadow: -999px 0 0 #29b49c;
      -webkit-box-shadow: -999px 0 0 #29b49c;
      box-shadow: -999px 0 0 #29b49c;
   }

}

/* BREADCRUMB */

.c-breadcrumb {
   display: block;
   overflow: hidden;
}

.c-breadcrumb__items {
   width: 200%;
   display: flex;
}

.c-breadcrumb__item {
   margin-right: 0.3125em;
}

.c-breadcrumb__link {
   color: #f05478;
}

.c-breadcrumb__link:hover {
   text-decoration: underline;
}

/* Medium devices */
@media (min-width: 768px) {

}

/* AVATAR */

.c-avatar {
   display: flex;
   align-items: center;
}

.c-avatar__image {
   width: 4em;
   height: 4em;
   display: block;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   border: 4px solid rgba(0,0,0,0.1);
   overflow: hidden;
}

.c-avatar__image--small {
   width: 3em;
   height: 3em;
}

.c-avatar__image--large {
   width: 6em;
   height: 6em;
}

.c-avatar__image-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.c-avatar__info {
   display: flex;
   flex-direction: column;
   margin-left: 0.625em;
}

.c-avatar__name {
   margin-bottom: 0.125em;
   font-weight: bold;
}

/* CAROUSEL */

.c-carousel--mealplans .c-carousel__items {
   padding-top: 1.5em;
}

.c-carousel--mealplans .c-carousel__item {
   padding: 0 0.625em 0.625em 0.625em;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-carousel--mealplans .c-carousel__items {
      margin-left: -0.625em;
      margin-right: -0.625em;
   }

}

/* MEDIA SLIDER */

.c-media-slider__main,
.c-media-slider__thumb {
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   overflow: hidden;
}

.c-media-slider__main {
   width: 100%;
   position: relative;
   background: grey;
}

.c-media-slider__main::after {
   content: "";
   display: block;
   padding-top: 60%;
}

.c-media-slider__main-inner,
.c-media-slider__thumb-inner {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
}

.c-media-slider__main-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.c-media-slider__main-overlay,
.c-media-slider__thumb-overlay {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   background-color: rgba(0,0,0,0.3);
}

.c-media-slider__thumbs {
   margin-left: -0.3125em;
   margin-right: -0.3125em;
   display: flex;
}

.c-media-slider__thumb {
   width: 20%;
   margin: 0.625em 0.3125em;
   position: relative;
   background-color: grey;
   cursor: pointer;
}

.c-media-slider__thumb::after {
   content: "";
   display: block;
   padding-top: 70%;
}

.c-media-slider__thumb-overlay {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,0.5);
}

.c-media-slider__thumb-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform .1s;
}

.c-media-slider__thumb-image:hover {
   transform: scale(1.1);
}

/* RECIPE SLIDER */

.recipe-slider {
   height: 100%;
}

.recipe-slider__ribbon {
   position: absolute;
   top: 0;
   left: 1.25em;
}

.recipe-slider__play {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.recipe-slider__play-icon {
   cursor: pointer;
   color: rgba(255,255,255,0.8);
   font-size: 4em;
}

.recipe-slider__play-icon:hover {
   color: #fff;
}

.recipe-slider__nutrition {
   position: absolute;
   left: 1.5em;
   bottom: 1.25em;
}

.recipe-slider__portions {
   position: absolute;
   right: 0.75em;
   bottom: 0.75em;
}

/* Medium devices */
@media (min-width: 768px) {

   .recipe-slider__portions {
      right: 1.5em;
      bottom: 1.25em;
   }

}

/* DIRECTIONS */

.c-direction {
   margin-bottom: 1.875em;
   padding-bottom: 1.875em;
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

.c-direction__step {
   display: block;
   font-weight: bold;
}

/* PORTION SWITCHER */

.o-portion-switcher {
   display: flex;
   align-items: center;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   overflow: hidden;
   font-weight: bold;
}

.o-portion-switcher--light {
   background-color: rgba(255,255,255,0.4);
   color: #fff;
}

.o-portion-switcher__action {
   padding: 0.25em 0.625em;
   font-weight: bold;
   font-size: 1.25em;
   cursor: pointer;
}

.o-portion-switcher__action:hover {
   background-color: rgba(255,255,255,0.5);
}

.o-portion-switcher__number {
   margin: 0 0.625em;
}


/* LEVEL INDICATOR */

.c-level-indicator {
   margin: 0 -0.125em;
   display: flex;
}

.c-level-indicator__item {
   margin: 0 0.125em;
   color: #f64e74;
}

.c-level-indicator__item::after {
   content: "\f111";
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
}

.c-level-indicator__item--half::after {
   content: "\f042";
   font-weight: bold;
}

.c-level-indicator__item--empty::after {
   content: "\f111";
   font-weight: normal;
}

/* NUTRI ELIPSE */

.c-nutri-ellipse,
.c-nutri-ellipse__info {
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
}

.c-nutri-ellipse {
   width: 100%;
   position: relative;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   border: 3px solid rgba(255,255,255,0.5);
}

.c-nutri-ellipse::after {
   content: "";
   padding-top: 100%;
   display: block;
}

.c-nutri-ellipse--yellow {
   background-color: #f8c444;
}

.c-nutri-ellipse--green {
   background-color: #29b49c;
}

.c-nutri-ellipse--pink {
   background-color: #f59ab5;
}

.c-nutri-ellipse--purple {
   background-color: #4b3e63;
}


.c-nutri-ellipse__info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0.75em; right: 0.75em; bottom: 0.75em; left: 0.75em;
   background-color: #fff;
   -moz-box-shadow: 0 0 0 3px rgba(255,255,255,0.5);
   -webkit-box-shadow: 0 0 0 3px rgba(255,255,255,0.5);
   box-shadow: 0 0 0 3px rgba(255,255,255,0.5);
}

.c-nutri-ellipse__value {
   font-weight: bold;
   font-size: 1.25em;
}


/* MEAL PLAN */

.c-mealplan {
   width: 100%;
   position: relative;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   background-color: grey;
   cursor: pointer;
}

.c-mealplan::after {
   content: "";
   padding-bottom: 100%;
   display: block;
}

.c-mealplan--mobile-rectangle::after {
   padding-bottom: 40%;
}

.c-mealplan__inner {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   z-index: 2;
}

.c-mealplan__header {
   width: 100%;
   position: absolute;
}

.c-mealplan__header,
.c-mealplan__footer {
   padding-left: 1.25em;
   padding-right: 1.25em;
}

.c-mealplan__user {
   position: absolute;
}

.c-mealplan__avatar {
   width: 3.125em;
   height: 3.125em;
   position: absolute;
   top: -1.5625em;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   border: 4px solid rgba(255,255,255,0.3);
   overflow: hidden;
}

.c-mealplan__avatar-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-color: grey;
}

.c-mealplan__handle {
   top: 2em;
   position: absolute;
}

.c-mealplan__ribbon {
   position: absolute;
   right: 1.25em;
}

.c-mealplan__footer {
   width: 100%;
   position: absolute;
   bottom: 1.25em;
}

.c-mealplan__title {
   display: block;
   text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.c-mealplan__cover {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   overflow: hidden;
   z-index: 1;
}

.c-mealplan__cover::before {
   content: "";
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   background-color: rgba(0,0,0,0.2);
   z-index: 1;
}

.c-mealplan__cover-image {
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: transform .3s;
}

.c-mealplan:hover .c-mealplan__cover-image {
   transform: scale(1.1);
}

.c-mealplan__price {
   padding: 0.8125em 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background-color: rgba(0,0,0,0.4);
   font-weight: bold;
   color: #fff;
}

/* Large devices */
@media (min-width: 992px) {

   .c-mealplan--mobile-rectangle::after {
      padding-bottom: 100%;
   }

}

/* RIBBON */

.o-ribbon {
   width: 50px;
   padding: 0.875em 0.5em;
   -webkit-border-bottom-right-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-bottomleft: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   background-color: #f05478;
   color: #fff;
   text-align: center;
   font-size: 0.9375em;
}

.page-header {
   position: relative;
}

.ribbon-top-right-page {
   position: absolute;
   top: -2em;
   right: 0;
}

/* MOMENT ICON */

.o-moment-icon {
   width: 3.25em;
   height: 3.25em;
   display: flex;
   justify-content: center;
   align-items: center;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   background: #f05478;
   cursor: pointer;
}

.o-moment-icon::after {
   width: 55%;
   height: 55%;
   display: block;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.o-moment-icon--small {
   width: 2em;
   height: 2em;
}

.o-moment-icon--breakfast {
   background: #f05478;
}

.o-moment-icon--breakfast::after {
   content: "";
   background-image: url('../images/breakfast-icon.svg');
}

.o-moment-icon--snack {
   background: #f59ab5;
}

.o-moment-icon--snack::after {
   content: "";
   background-image: url('../images/snack-icon.svg');
}

.o-moment-icon--lunch {
   background: #f8c444;
}

.o-moment-icon--lunch::after {
   content: "";
   width: 63%;
   background-image: url('../images/lunch-icon.svg');
}

.o-moment-icon--snack-2 {
   background: #29b49c;
}

.o-moment-icon--snack-2::after {
   content: "";
   background-image: url('../images/snack-icon.svg');
}

.o-moment-icon--dinner {
   background: #5952c1;
}

.o-moment-icon--dinner::after {
   content: "";
   height: 48%;
   width: 65%;
   background-image: url('../images/dinner-icon.svg');
}

/* SCHEME */

.c-scheme-item,
.c-scheme-item__intro,
.c-scheme-item__info {
   display: flex;
   justify-content: space-between;
}

.c-scheme-item {
   padding: 1.25em 0;
   border-bottom: 1px solid rgba(89,82,193,0.25);
   align-items: center;
   cursor: pointer;
}

.c-scheme-item:hover {
   background-color: rgba(89,82,193,0.04);
}

.c-scheme-item__intro {
   align-items: center;
}

.c-scheme-item__icon {
   margin-right: 1em;
}

.c-scheme-item__type {
   margin-bottom: 0.25em;
   display: block;
}

.c-scheme-item__title {
   margin-bottom: 0;
}

.c-scheme-item__cals {
   min-height: 3.125em;
   padding: 0.625em;
   display: flex;
   align-items: center;
   justify-content: center;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid rgba(78,61,102,0.4);
   font-weight: bold;
   background-color: #fff;
}

.c-scheme-item__values {
   min-width: 4.5em;
   display: none;
   margin-left: 0.625em;
}

.c-scheme-item__value {
   margin-bottom: 0.25em;
   font-size: 0.8125em;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-scheme-item__values {
      display: block;
   }

}

/* PROGRESS */

.c-progress__bar,
.c-progress__bar-progress {
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
}

.c-progress__title,
.c-progress__bar-percentage {
   font-size: 0.875em;
   color: #4B3e63;
}

.c-progress--light .c-progress__title,
.c-progress--light .c-progress__bar-percentage {
   text-shadow: 0 1px 3px rgba(0,0,0,0.5);
   color: #fff;
}

.c-progress__title {
   margin-bottom: 0.25em;
   display: block;
}

.c-progress__bar {
   width: 100%;
   height: 0.75em;
   background-color: rgba(89,82,193,0.16);
}

.c-progress--light .c-progress__bar {
   background-color: rgba(255,255,255,0.5);
}

.c-progress__bar-progress {
   height: 100%;
   position: relative;
   background-color: rgba(89,82,193,1);
}

.c-progress--light .c-progress__bar-progress {
   background-color: #fff;
}

.c-progress__bar-percentage {
   position: absolute;
   right: -0.625em;
   bottom: calc(100% + 0.25em);
}

/* SHOPPING LIST */

.c-shopping-list__header {
   padding-bottom: 1.25em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.c-shopping-list__title {
   margin-bottom: 0;
}

.c-shopping-list__moments {
   display: flex;
}

.c-shopping-list__moment {
   margin: 0 0.125em;
}

.c-shopping-list__items {
   display: flex;
   flex-wrap: wrap;
}

.c-shopping-list__item {
   width: 100%;
   padding: 0.8125em 0;
   display: flex;
   align-items: center;
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

.c-shopping-list__checkbox {
   margin-right: 0.5em;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-shopping-list__items {
      margin-left: -0.5em;
      margin-right: -0.5em;
   }

   .c-shopping-list__item {
      width: calc(50% - 1em);
      margin: 0 0.5em;
   }

}

/* USER */

.c-user {
   width: 100%;
   position: relative;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   background-color: grey;
   cursor: pointer;
}

.c-user::after {
   content: "";
   padding-bottom: 100%;
   display: block;
}

.c-user__inner {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   z-index: 2;
}

.c-user__footer {
   padding-left: 1.25em;
   padding-right: 1.25em;
}

.c-user__footer {
   width: 100%;
   position: absolute;
   bottom: 1.25em;
}

.c-user__title {
   display: block;
}

.c-user__cover {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   overflow: hidden;
   z-index: 1;
}

.c-user__cover::before {
   content: "";
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   background-color: rgba(0,0,0,0.2);
   z-index: 1;
}

.c-user__cover-image {
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: transform .3s;
}

.c-user:hover .c-user__cover-image {
   transform: scale(1.1);
}

/* NUMBERED STEPS */

.c-numbered-steps__item {
   margin-bottom: 1.875em;
   display: flex;
   align-items: center;
}

.c-numbered-steps__number {
   width: 35px;
   height: 35px;
   margin-right: 0.875em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   text-align: center;
   color: #fff;
   background-color: #f8c444;
}

.c-numbered-steps__label {
   font-weight: bold;
}

/* FILTER */

.c-filter {
   padding-bottom: 1.25em;
   display: block;
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

.c-filter__header {
   display: flex;
   justify-content: space-between;
}

.c-filter__heading {
   display: block;
}

.c-filter__toggler {
   font-size: 1.25em;
   color: #5952c1;
   cursor: pointer;
}

.c-filter__toggler::after {
   content: "\f078";
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
}

.c-filter.is-open .c-filter__toggler::after {
   content: "\f077";
}

.c-filter__list {
   margin-top: 1.25em;
   display: none;
}

.c-filter.is-open .c-filter__list {
   display: block;
}

.c-filter__list-item {
   margin-bottom: 0.75em;
   display: flex;
   align-items: center;
}

.c-filter__label {
   line-height: 0;
   color: rgba(75,62,99,0.6);
}

.c-filter__checkbox {
   margin-right: 0.5em;
}

/* Large devices */
@media (min-width: 992px) {

   .c-filter__toggler {
      display: none;
   }

   .c-filter__list {
      display: block;
   }

}

/* PAGINATION */

.c-pagination__items {
   display: flex;
   align-items: center;
   justify-content: center;
}

.c-pagination__item {
   width: 40px;
   height: 40px;
   margin: 0 0.3125em;
   display: flex;
   justify-content: center;
   align-items: center;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   border: 1px solid #4b3e63;
   text-align: center;
   line-height: 0;
   color: #4b3e63;
   font-weight: bold;
}

.c-pagination__item:hover {
   background-color: rgba(75,62,99,0.1);
}

.c-pagination__item--current,
.c-pagination__item--current:hover {
   background-color: #4b3e63;
   color: #fff;
   cursor: default;
}

/* PHOTO COLLECTION */

.c-photo-collection {
   position: relative;
}

.c-photo-collection__item {
   width: 15.625em;
   height: 15.625em;
   position: absolute;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   border: 5px solid #fff;
   -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   overflow: hidden;
   background-color: grey;
}

.c-photo-collection__item--first {
   z-index: 0;
   transform: rotate(-8deg);
}

.c-photo-collection__item--second {
   width: 13.75em;
   height: 13.75em;
   top: 6.25em;
   left: 14em;
   z-index: 1;
   transform: rotate(6deg);
}

.c-photo-collection__item--third {
   width: 13.75em;
   height: 13.75em;
   top: 12.5em;
   left: 5em;
   z-index: 0;
   transform: rotate(-5deg);
}

.c-photo-collection__label {
   position: absolute;
   text-shadow: 0 1px 5px rgba(0,0,0,0.8);
   font-family: 'Reklame script demo', 'sans-serif';
   font-size: 1.875em;
   color: #fff;
}

.c-photo-collection__label--top-right {
    top: 0.625em;
    right: 0.625em;
}

.c-photo-collection__label--bottom-right {
    bottom: 0.625em;
    right: 0.625em;
}

.c-photo-collection__label--bottom-left {
    bottom: 0.625em;
    left: 0.625em;
}

.c-photo-collection__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* PHONE */

.c-phone {
   width: 100%;
   padding: 1.25em;
   position: relative;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   border-radius: 25px;
   -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.4);
   -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.4);
   box-shadow: 0 1px 15px rgba(0,0,0,0.4);
   background-color: #050306;
}

.c-phone::after {
   content: "";
   padding-bottom: 200%;
   display: block;
}

.c-phone__screen {
   position: absolute;
   top: 0.75em; right: 0.75em; bottom: 0.75em; left: 0.75em;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
   background-color: grey;
   z-index: 1;
}

.c-phone__camera {
   width: 40%;
   height: 3%;
   position: absolute;
   top: 0.75em;
   left: 30%;
   -webkit-border-bottom-right-radius: 15px;
   -webkit-border-bottom-left-radius: 15px;
   -moz-border-radius-bottomright: 15px;
   -moz-border-radius-bottomleft: 15px;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   background-color: #050306;
   z-index: 2;
}

/* PHONE */

.c-bubbles {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
}

.c-bubbles__bubble {
   width: 6.125em;
   height: 6.125em;
   position: absolute;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   border: 7px solid rgba(75,62,99,0.25);
}

.c-bubbles__bubble--small {
   width: 5.125em;
   height: 5.125em;
}

.c-bubbles__bubble--large {
   width: 8.125em;
   height: 8.125em;
}

.c-bubbles__bubble-image {
   width: 100%;
   height: 100%;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   object-fit: cover;
}

/* HEADER */

.c-header {
   padding: 0.75em 0;
}

.c-header--floating {
   width: 100%;
   position: absolute;
   top: 0;
}

.c-header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.c-header__logo {
   width: 8em;
}

.c-header__nav {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   z-index: 10;
}

.c-header__nav.is-open {
   margin-top: 0.5em;
   display: block;
}

.c-header__list {
   width: 100%;
   padding: 0.75em 1.5em;
   display: block;
   -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   background-color: #fff;
}

.c-header__list-item {
   display: block;
   border-bottom: 1px solid rgba(89,82,193, 0.15);
}

.c-header__list-item--last {
   border-bottom: none;
}

.c-header__list-link {
   padding: 1.25em 0;
   display: block;
   position: relative;
   font-size: 1.125em;
   font-weight: bold;
   color: #5a52Bf;
}

.c-header__list-link::after {
   content: "\f105";
   position: absolute;
   right: 0.9375em;
   font-family: "Font Awesome 5 Free";
}

.c-header__login-button {
   display: none;
}

/* Large devices */
@media (min-width: 992px) {

   .c-header {
      padding: 1.25em 0;
   }

   .c-header__nav {
      display: block;
      position: relative;
   }

   .c-header__list {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
   }

   .c-header__list-item {
      margin: 0 0.9375em;
      border-bottom: none;
   }

   .c-header__list-link {
      padding: 0;
      border-bottom: 1px solid transparent;
      font-weight: normal;
      transition: 0.2s;
      color: #fff;
   }

   .c-header--light .c-header__list-link {
      color: #4b3e63;
   }

   .c-header__list-link:hover,
   .c-header__list-link.is-current {
      margin-bottom: -0.3125em;
      padding-bottom: 0.3125em;
      border-bottom: 1px solid rgba(255,255,255,0.3);
   }

   .c-header--light .c-header__list-link:hover,
   .c-header--light .c-header__list-link.is-current {
      border-bottom: 1px solid rgba(75,62,99,0.4);
   }

   .c-header__list-link::after {
      display: none;
   }

   .c-header__login-button {
      display: block;
   }

   .c-header__hamburger {
      display: none;
   }

}

/* SIDENAV */

.c-sidenav__list {
   border-top: 1px solid rgba(89,82,193,0.15);
}

.c-sidenav__list-item {
   padding: 1.125em 0.9375em 1.125em 0;
   border-bottom: 1px solid rgba(89,82,193,0.15);
   font-weight: bold;
   font-size: 1.125em;
   cursor: pointer;
}

.c-sidenav__list-item.is-current,
.c-sidenav__list-item:hover {
   text-decoration: underline;
}


/* TOGGLER */

.toggler::after {
   content: "\f13a";
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
   font-size: 1.625em;
}

.toggler.is-open::after {
   content: "\f139";
}

/* FOOTER */

.c-footer {
   margin-top: 2.5em;
   padding: 4em 0;
   border-top: 1px solid rgba(89,82,193, 0.25);
}

.c-footer__logo {
   width: 8em;
}

.c-footer__list-item {
   margin-bottom: 0.5em;
}

.c-footer__top {
   padding-bottom: 1.875em;
}

.c-footer__bottom {
   padding: 0.625em 0;
   border-top: 1px solid rgba(89,82,193, 0.25);
}

/* BIG SEARCH BAR */

.c-bigsearch {
   padding: 1.5em;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
   -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
   -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
   box-shadow: 0 1px 10px rgba(0,0,0,0.1);
   background-color: #fff;
}

.c-bigsearch__section {
   margin-bottom: 1.25em;
   padding-bottom: 1em;
   border-bottom: 1px solid rgba(89,82,193, 0.25);
}

.c-bigsearch__label {
   margin-bottom: 0.625em;
   display: block;
}

.c-bigsearch__input {
   width: 100%;
   display: block;
   border: none;
}

.c-bigsearch__input:focus {
   outline: none;
}

/* Large devices */
@media (min-width: 992px) {

   .c-bigsearch__section {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      border-right: 1px solid rgba(89,82,193, 0.25);
   }

}

/* REVIEW SLIDER */

.c-review-slider {
   position: relative;
}

.c-review-slider__image {
   position: relative;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   background-color: grey;
   overflow: hidden;
}

.c-review-slider__image-image {
   width: 100%;
   height: 100%;
   position: absolute;
   object-fit: cover;
}

.c-review-slider__image::after {
   content: "";
   display: block;
   padding-bottom: 60%;
}

.c-review-slider__user-rate {
   position: absolute;
   bottom: 1.5em;
   left: 1.5em;
}

.c-review-slider__arrows {
   display: flex;
   position: absolute;
   right: 0;
   bottom: 0;
}

/* STARS */

.c-stars {
   display: flex;
}

.c-stars--large {
   font-size: 1.5em;
}

.c-stars__item {
   margin-right: 0.25em;
   color: lightgrey;
}

.c-stars__item--filled {
   color: #f8c444;
}

.c-stars__item::after {
   content: "\f005";
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
}

.c-stars__item--shadow::after {
   text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

/* AUTOCOMPLETE */

.o-autocomplete {
   position: relative;
}

.o-autocomplete__results {
   padding: 1.25em;
   display: none;
   position: absolute;
   top: 105%;
   right: 0;
   left: -1.25em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -moz-box-shadow: 0 6px 5px rgba(0,0,0,0.1);
   -webkit-box-shadow: 0 6px 5px rgba(0,0,0,0.1);
   box-shadow: 0 6px 5px rgba(0,0,0,0.1);
   background-color: #fff;
   z-index: 5;
}

.o-autocomplete__result {
   padding: 0.625em 0;
   cursor: pointer;
}

.o-autocomplete__result:hover {
   text-decoration: underline;
}

/* MODAL */

.c-modal {
   width: 100%;
   height: 100%;
   padding: 5% 1.25em 1.25em 1.25em;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   position: fixed;
   top: 0; right: 0; bottom: 0; left: 0;
   background-color: rgba(75,62,99,0.77);
   z-index: 30;
   overflow-y: auto;
}

.c-modal__container {
   width: 100%;
   /* max-height: 95%; */
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   box-shadow: 0 1px 10px rgba(0,0,0,0.1);
   background-color: #fff;
}

.c-modal__header {
   padding: 1.125em;
   display: flex;
   justify-content: flex-end;
}

.c-modal__close {
   cursor: pointer;
   color: rgba(75,62,99,0.8);
}

.c-modal__close:hover {
   color: rgba(75,62,99,1);
}

.c-modal__close::after {
   content: "\f057";
   font-size: 1.875em;
   font-family: "Font Awesome 5 Free";
}

.c-modal__body {
   padding: 0 1.25em 4em 1.25em;
}

.c-modal__scroll {
   /* max-height: 22em;
   overflow: auto; */
}

.c-modal__footer {
   padding: 1.875em;
   border-top: 1px solid rgba(89,82,193, 0.25);
}

/* Large devices */
@media (min-width: 992px) {

   .c-modal__container {
      width: 900px;
   }

   .c-modal__body {
      padding: 0 2.5em 4em 2.5em;
   }

}

/* ORDER VISUAL */

.c-order-visual {
   width: 100%;
   position: relative;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   border: 4px solid #29B49C;
   background-color: #EDEBEF;
}

.c-order-visual::after {
   content: "";
   padding-top: 50%;
   display: block;
}

.c-order-visual__inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
}

.c-order-visual__badge {
   padding: 0.75em 0.875em 0.625em 0.875em;
   display: block;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   line-height: 1;
   font-weight: bold;
   background-color: #fff;
}

/* ORDER TABLE */

.c-order-table__row {
   margin-bottom: 0.625em;
   display: flex;
   justify-content: space-between;
}

.c-order-table__row--total {
   margin-top: 0.625em;
   margin-bottom: 0;
   padding-top: 0.625em;
   border-top: 1px solid rgba(255,255,255,0.5);
   font-size: 1.5em;
   font-weight: bold;
}
