body {
   font-size: 16px;
   font-size: 100%;
   font-family: Proxima Nova, sans-serif;
   -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   margin-bottom: 0.625rem;
   font-family: Gilroy, sans-serif;
   font-weight: bold;
}

/* TEXT UTILS */

.u-text--white {
   color: #fff;
}

/* SPACING UTILS */

.u-space-below,
.u-space-below--sm {
   margin-bottom: 1.25rem;
}

.u-small-space-below,
.u-small-space-below--sm {
   margin-bottom: 0.625rem;
}

.u-large-space-below,
.u-large-space-below--sm {
   margin-bottom: 1.875rem;
}

/* Medium devices */
@media (min-width: 768px) {

   .u-space-below--sm,
   .u-small-space-below--sm,
   .u-large-space-below--sm {
      margin-bottom: 0;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .u-space-below--lg {
      margin-bottom: 1.25em;
   }

   .u-small-space-below--lg {
      margin-bottom: 0.625em;
   }

   .u-large-space-below--lg {
      margin-bottom: 1.875em;
   }

}

/* BUTTONS */

.o-btn {
   padding: 1.4em 1.75em;
   display: inline-block;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   font-size: 0.9375em;
   line-height: 0;
   text-align: center;
   transition: 0.1s;
}

.o-btn--primary {
   color: #fff;
   background: #f05478;
   border: 1px solid #f05478;
}

.o-btn--transparent {
   border: 1px solid #fff;
   color: #fff;
   background: transparent;
}

.o-btn--transparent:hover {
   background-color: rgba(255,255,255,0.05);
}

/* HAMBURGER */

.c-hamburger {
   width: 2.875em;
   height: 2.875em;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   border-radius: 100%;
   border: none;
   cursor: pointer;
}

.c-hamburger:focus {
   outline: 0;
}

.c-hamburger--dark {
   background-color: #5a52c0;
}

.c-hamburger::after {
   content: "\f0c9";
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
   font-size: 1.25em;
   color: #5a52c0;
}

.c-hamburger--dark::after {
   color: #fff;
}

.c-hamburger.is-open::after {
   content: "\f00d";
}

/* HERO */

.c-hero {
   padding: 6em 0 3em 0;
   overflow: hidden;
   background-color: #5a52c0;
}

.c-hero--splitted {
   background-image: radial-gradient(circle at 160% 50%, #f59ab5 60%, #5a52c0 0);
}

.c-hero__headline {
   margin-bottom: 1.25rem;
   font-size: 2.3125em;
}

.c-hero__headline--large {
   font-size: 2.875em;
}

.c-hero__subline {
   font-size: 1.125em;
   line-height: 1.35em;
}

.c-hero__button {
   display: block;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-hero {
      padding: 7em 0;
   }

   .c-hero--splitted {
      background-image: radial-gradient(circle at 120% 80%, #f59ab5 52%, #5a52c0 0);
   }

   .c-hero__headline {
      font-size: 3.125em;
   }

   .c-hero__headline--large {
      font-size: 3.5em;
   }

   .c-hero__subline {
      font-size: 1.25em;
   }

   .c-hero__button {
      margin-right: 0.25em;
      display: inline-block;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .c-hero {
      padding: 9em 0;
   }

   .c-hero--splitted {
      background-image: radial-gradient(circle at 100% 100%, #f59ab5 50%, #5a52c0 0);
   }

   .c-hero__headline--large {
      font-size: 4.1875em;
   }

}

/* LOGO */

.c-logo svg path {
   fill: #fff;
}

.c-logo--dark svg path {
   fill: #5a52c0;
}

/* PHOTO COLLECTION */

.c-photo-collection {
   position: relative;
}

.c-photo-collection__item {
   width: 15.625em;
   height: 15.625em;
   position: absolute;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   border: 5px solid #fff;
   -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   background-color: grey;
}

.c-photo-collection__item--first {
   z-index: 0;
   transform: rotate(-8deg);
}

.c-photo-collection__item--second {
   width: 13.75em;
   height: 13.75em;
   top: 6.25em;
   left: 12.5em;
   z-index: 1;
   transform: rotate(7deg);
}

.c-photo-collection__item--third {
   width: 12.5em;
   height: 12.5em;
   top: 12.5em;
   left: 5em;
   z-index: 0;
   transform: rotate(-5deg);
}



/* HEADER */

.c-header {
   padding: 0.75em 0;
}

.c-header--floating {
   width: 100%;
   position: absolute;
   top: 0;
}

.c-header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.c-header__logo {
   width: 8em;
}

.c-header__nav {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   z-index: 10;
}

.c-header__nav.is-open {
   margin-top: 0.5em;
   display: block;
}

.c-header__list {
   width: 100%;
   padding: 0.75em 1.5em;
   display: block;
   -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   background-color: #2ab49C;
}

.c-header__list-item {
   display: block;
   border-bottom: 1px solid rgba(255,255,255,0.1);
}

.c-header__list-item--last {
   border-bottom: none;
}

.c-header__list-link {
   padding: 0.75em 0;
   display: block;
   font-size: 1.125em;
   font-weight: bold;
   color: #fff;
}

.c-header__login-button {
   display: none;
}

/* Large devices */
@media (min-width: 992px) {

   .c-header {
      padding: 1.25em 0;
   }

   .c-header__nav {
      display: block;
      position: relative;
   }

   .c-header__list {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
   }

   .c-header__list-item {
      margin: 0 0.9375em;
      border-bottom: none;
   }

   .c-header__list-link {
      padding: 0;
      border-bottom: 1px solid transparent;
      transition: 0.2s;
   }

   .c-header__list-link:hover,
   .c-header__list-link.is-current {
      margin-bottom: -0.3125em;
      padding-bottom: 0.3125em;
      border-bottom: 1px solid rgba(255,255,255,0.3);
   }

   .c-header__login-button {
      display: block;
   }

   .c-header__hamburger {
      display: none;
   }

}
