body {
   font-size: 16px;
   font-size: 100%;
   font-family: Proxima Nova, sans-serif;
   -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-bottom: 0.625rem;
   font-size: 1.125rem;
   font-family: Gilroy, sans-serif;
   font-weight: bold;
}

.t1 {
   font-size: 2.3125rem;
}

.t2 {
   font-size: 1.875rem;
}

.t3 {
   font-size: 1.5rem;
}

.t4 {
   font-size: 1.125rem;
}

.s1 {
   font-size: 0.625em;
}

.s2 {
   font-size: 0.875em;
}

.s3 {
   font-size: 0.9375em;
}

/* Medium devices */
@media (min-width: 768px) {

   .t1 {
      font-size: 3.125rem;
   }

   .t2 {
      font-size: 2.3125rem;
   }

   .t3 {
      font-size: 1.5rem;
   }

   .t4 {
      font-size: 1.125rem;
   }

}

/* TEXT UTILS */

.u-text--bold {
   font-weight: bold;
}

.u-text--white {
   color: #fff;
}

.u-text--purple {
   color: #4b3e63;
}

/* LINK UTILS */

.u-link:hover {
   text-decoration: underline;
}

/* BACKGROUND UTILS */

.u-background--green {
   background-color: #29b49c;
}

/* EXTENSION UTILS */

.u-extension--green {
   box-shadow: -999px 0 0 #29b49c;
}

/* LAYOUT & SPACING UTILS */

.u-space-around,
.u-space-around--sm {
   margin: 1.25rem;
}

.u-small-space-around,
.u-small-space-around--sm {
   margin: 0.625rem;
}

.u-large-space-around,
.u-large-space-around--sm {
   margin: 1.875rem;
}

.u-space-below,
.u-space-below--sm {
   margin-bottom: 1.25rem;
}

.u-small-space-below,
.u-small-space-below--sm {
   margin-bottom: 0.625rem;
}

.u-large-space-below,
.u-large-space-below--sm {
   margin-bottom: 1.875rem;
}

.u-space-right,
.u-space-right--sm {
   margin-right: 1.25rem;
}

.u-small-space-right,
.u-small-space-right--sm {
   margin-right: 0.625rem;
}

.u-large-space-right,
.u-large-space-right--sm {
   margin-right: 1.875rem;
}

/* Medium devices */
@media (min-width: 768px) {

   .u-space-below--sm,
   .u-small-space-below--sm,
   .u-large-space-below--sm {
      margin-bottom: 0;
   }

   .u-space-below--sm,
   .u-small-space-below--sm,
   .u-large-space-below--sm {
      margin: 0;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .u-space-below--lg {
      margin-bottom: 1.25em;
   }

   .u-small-space-below--lg {
      margin-bottom: 0.625em;
   }

   .u-large-space-below--lg {
      margin-bottom: 1.875em;
   }

   .u-container-overlap {
      margin-right: 6.25em;
   }

   .u-inner-overlap {
      margin-right: -6.25em;
   }

}


/* BUTTONS */

.o-btn {
   padding: 1.4em 1.75em;
   display: inline-block;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   font-size: 0.9375em;
   line-height: 0;
   text-align: center;
   color: #fff;
   cursor: pointer;
   transition: 0.1s;
}

.o-btn:hover {
   text-decoration: underline;
}

.o-btn--primary {
   background: #f05478;
   border: 1px solid #f05478;
}

.o-btn--secondary {
   background-color: #5952c1;
}

.o-btn--transparent {
   border: 1px solid #fff;
   background: transparent;
}

.o-btn--transparent:hover {
   background-color: rgba(255,255,255,0.05);
}

/* NAV ARROWS */

.o-nav-arrow {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   border: none;
   background: #f05478;
   cursor: pointer;
   color: #fff;
}

.o-nav-arrow:focus {
   outline: none;
}

.o-nav-arrow--prev {
   margin-right: 0.25em;
}

/* HAMBURGER */

.c-hamburger {
   width: 2.875em;
   height: 2.875em;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   border-radius: 100%;
   border: none;
   cursor: pointer;
}

.c-hamburger:focus {
   outline: 0;
}

.c-hamburger--dark {
   background-color: #5a52c0;
}

.c-hamburger::after {
   content: "\f0c9";
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
   font-size: 1.25em;
   color: #5a52c0;
}

.c-hamburger--dark::after {
   color: #fff;
}

.c-hamburger.is-open::after {
   content: "\f00d";
}

/* SECTION */

.o-section {
   padding: 1.25em 0;
}

/* Medium devices */
@media (min-width: 768px) {

   .o-section {
      padding: 3em 0;
   }

}

/* HERO */

.c-hero {
   padding: 6em 0 3em 0;
   overflow: hidden;
   background-color: #5a52c0;
}

.c-hero--splitted {
   background-image: radial-gradient(circle at 160% 50%, #f59ab5 60%, #5a52c0 0);
}

.c-hero__headline {
   margin-bottom: 1.25rem;
   font-size: 2.3125em;
}

.c-hero__headline--large {
   font-size: 2.875em;
}

.c-hero__subline {
   font-size: 1.125em;
   line-height: 1.35em;
}

.c-hero__button {
   display: block;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-hero {
      padding: 7em 0;
   }

   .c-hero--splitted {
      background-image: radial-gradient(circle at 120% 80%, #f59ab5 52%, #5a52c0 0);
   }

   .c-hero__headline {
      font-size: 3.125em;
   }

   .c-hero__headline--large {
      font-size: 3.5em;
   }

   .c-hero__subline {
      font-size: 1.25em;
   }

   .c-hero__button {
      margin-right: 0.25em;
      display: inline-block;
   }

}

/* Large devices */
@media (min-width: 992px) {

   .c-hero {
      padding: 9em 0;
   }

   .c-hero--splitted {
      background-image: radial-gradient(circle at 100% 100%, #f59ab5 50%, #5a52c0 0);
   }

   .c-hero__headline--large {
      font-size: 4.1875em;
   }

}

/* JUMBOTRON */

.c-jumbotron {
   padding: 1.875em;
   margin-left: -1.25em;
   margin-right: -1.25em;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-jumbotron {
      margin-left: 0;
      margin-right: 0;
      padding: 2.5em;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
   }

}

/* CAROUSEL */

.c-carousel--mealplans .c-carousel__items {
   padding-top: 1.5em;
}

.c-carousel--mealplans .c-carousel__item {
   padding: 0 0.625em 0.625em 0.625em;
}

/* Medium devices */
@media (min-width: 768px) {

   .c-carousel--mealplans {
      margin-left: -0.625em;
      margin-right: -0.625em;
   }

}

/* MEAL PLAN */

.c-mealplan {
   width: 100%;
   position: relative;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   background-color: grey;
   cursor: pointer;
}

.c-mealplan::after {
   content: "";
   padding-bottom: 100%;
   display: block;
}

.c-mealplan__inner {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   z-index: 2;
}

.c-mealplan__header {
   width: 100%;
   position: absolute;
}

.c-mealplan__header,
.c-mealplan__footer {
   padding-left: 1.25em;
   padding-right: 1.25em;
}

.c-mealplan__user {
   position: absolute;
}

.c-mealplan__avatar {
   width: 3.125em;
   height: 3.125em;
   position: absolute;
   top: -1.5625em;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   border: 4px solid rgba(255,255,255,0.3);
   overflow: hidden;
}

.c-mealplan__avatar-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-color: grey;
}


.c-mealplan__handle {
   top: 2em;
   position: absolute;
}

.c-mealplan__duration {
   width: 50px;
   padding: 0.875em 0.5em;
   position: absolute;
   right: 1.25em;
   -webkit-border-bottom-right-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-bottomleft: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   background-color: #f05478;
   color: #fff;
   text-align: center;
   font-size: 0.9375em;
}

.c-mealplan__footer {
   width: 100%;
   position: absolute;
   bottom: 1.25em;
}

.c-mealplan__title {
   display: block;
}

.c-mealplan__cover {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   overflow: hidden;
   z-index: 1;
}

.c-mealplan__cover::before {
   content: "";
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   background-color: rgba(0,0,0,0.2);
   z-index: 1;
}

.c-mealplan__cover-image {
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: transform .3s;
}

.c-mealplan:hover .c-mealplan__cover-image {
   transform: scale(1.1);
}

/* LOGO */

.c-logo svg path {
   fill: #fff;
}

.c-logo--dark svg path {
   fill: #5a52c0;
}

/* NUMBERED STEPS */

.c-numbered-steps__item {
   margin-bottom: 1.875em;
   display: flex;
   align-items: center;
}

.c-numbered-steps__number {
   width: 35px;
   height: 35px;
   margin-right: 0.875em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   text-align: center;
   color: #fff;
   background-color: #f8c444;
}

.c-numbered-steps__label {
   font-weight: bold;
}

/* PHOTO COLLECTION */

.c-photo-collection {
   position: relative;
}

.c-photo-collection__item {
   width: 15.625em;
   height: 15.625em;
   position: absolute;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   border: 5px solid #fff;
   -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   box-shadow: 0 1px 10px rgba(0,0,0,0.3);
   overflow: hidden;
   background-color: grey;
}

.c-photo-collection__item--first {
   z-index: 0;
   transform: rotate(-8deg);
}

.c-photo-collection__item--second {
   width: 13.75em;
   height: 13.75em;
   top: 6.25em;
   left: 14em;
   z-index: 1;
   transform: rotate(6deg);
}

.c-photo-collection__item--third {
   width: 13.75em;
   height: 13.75em;
   top: 12.5em;
   left: 5em;
   z-index: 0;
   transform: rotate(-5deg);
}

.c-photo-collection__label {
   position: absolute;
   text-shadow: 0 1px 5px rgba(0,0,0,0.8);
   font-family: 'Reklame script demo', 'sans-serif';
   font-size: 1.875em;
   color: #fff;
}

.c-photo-collection__label--top-right {
    top: 0.625em;
    right: 0.625em;
}

.c-photo-collection__label--bottom-right {
    bottom: 0.625em;
    right: 0.625em;
}

.c-photo-collection__label--bottom-left {
    bottom: 0.625em;
    left: 0.625em;
}

.c-photo-collection__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* PHONE */

.c-phone {
   width: 100%;
   padding: 1.25em;
   position: relative;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   border-radius: 25px;
   -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.4);
   -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.4);
   box-shadow: 0 1px 15px rgba(0,0,0,0.4);
   background-color: #050306;
}

.c-phone::after {
   content: "";
   padding-bottom: 200%;
   display: block;
}

.c-phone__screen {
   position: absolute;
   top: 0.75em; right: 0.75em; bottom: 0.75em; left: 0.75em;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
   background-color: grey;
   z-index: 1;
}

.c-phone__camera {
   width: 40%;
   height: 3%;
   position: absolute;
   top: 0.75em;
   left: 30%;
   -webkit-border-bottom-right-radius: 15px;
   -webkit-border-bottom-left-radius: 15px;
   -moz-border-radius-bottomright: 15px;
   -moz-border-radius-bottomleft: 15px;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   background-color: #050306;
   z-index: 2;
}

/* HEADER */

.c-header {
   padding: 0.75em 0;
}

.c-header--floating {
   width: 100%;
   position: absolute;
   top: 0;
}

.c-header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.c-header__logo {
   width: 8em;
}

.c-header__nav {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   z-index: 10;
}

.c-header__nav.is-open {
   margin-top: 0.5em;
   display: block;
}

.c-header__list {
   width: 100%;
   padding: 0.75em 1.5em;
   display: block;
   -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   box-shadow: 0 1px 6px rgba(0,0,0,0.2);
   background-color: #2ab49C;
}

.c-header__list-item {
   display: block;
   border-bottom: 1px solid rgba(255,255,255,0.1);
}

.c-header__list-item--last {
   border-bottom: none;
}

.c-header__list-link {
   padding: 0.75em 0;
   display: block;
   font-size: 1.125em;
   font-weight: bold;
   color: #fff;
}

.c-header__login-button {
   display: none;
}

/* Large devices */
@media (min-width: 992px) {

   .c-header {
      padding: 1.25em 0;
   }

   .c-header__nav {
      display: block;
      position: relative;
   }

   .c-header__list {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
   }

   .c-header__list-item {
      margin: 0 0.9375em;
      border-bottom: none;
   }

   .c-header__list-link {
      padding: 0;
      border-bottom: 1px solid transparent;
      transition: 0.2s;
   }

   .c-header__list-link:hover,
   .c-header__list-link.is-current {
      margin-bottom: -0.3125em;
      padding-bottom: 0.3125em;
      border-bottom: 1px solid rgba(255,255,255,0.3);
   }

   .c-header__login-button {
      display: block;
   }

   .c-header__hamburger {
      display: none;
   }

}
